
h2 {
    font-size: 29px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.fb-login {
    margin-right: 50px;
}

.welcome {
    margin-right: 20px;
    font-size: 20px;
}

.bg {
    background-image: url('../assets/running-background.png');

}

