h3 {
    color: black;
    margin-left: 25px;
}

.td-right {
    color: #fff;
    font-style: oblique;
    margin-left: 25px;
    width: auto;
    font-size: 18px;
}

.col-1 {
    margin-left: 515px;
    position: relative;
    margin-right: auto;
}

.message {
    color: black;
    margin-left: 465px;
    font-family: sans-serif;
    font-weight: lighter;
}

.start-message {
    margin-top: 115px;
    text-align: start;
}

.item-result {
    background-color: #1976d2;
    margin-top: 20px;
}

.row {
    width: 600px;
    position: relative;
}




